<% layout("/layouts/boilerplate") %>

<div class="row">
  <div class="col-8 offset-2">

    <h3>Edit your Listing</h3>

    <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">

      <!-- Title -->
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          type="text"
          class="form-control"
          value="<%= listing.title %>"
         required>
         <div class="valid-feedback">Title Looks Good!</div>
      </div>

      <!-- Description -->
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          class="form-control"required
        ><%= listing.description %></textarea>
         <div class="invalid-feedback">Please Enter a valid Description name!</div>   

      </div>

      <!-- Image -->
        <div class="mb-3">
          Original Listing image: <br>
        <img  src="<%=originalImageUrl%>" alt="">
        >

      </div>
      <div class="mb-3">
        <label for="image" class="form-label"> Upload New Image</label>
        <input
          name="listing[image]"
          type="file"
          class="form-control" 
          value="<%= listing.image.url %>"

        >

      </div>

      <!-- Price + Country -->
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            name="listing[price]"
            type="number"
            class="form-control"required
            value="<%= listing.price %>"
          >
         <div class="invalid-feedback">Please Enter a valid Price name!</div>   

        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            name="listing[country]"
            type="text"
            class="form-control"required
            value="<%= listing.country %>"
          >
         <div class="invalid-feedback">Please Enter a valid Price name!</div>   

        </div>
      </div>

      <!-- Location -->
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          name="listing[location]"
          type="text"
          class="form-control"required
          value="<%= listing.location %>"
        >
         <div class="invalid-feedback">Please Enter a valid Location name!</div>   

      </div>

      <br><br>

      <button class="btn btn-dark add-btn">Edit</button>

    </form>
  </div>
</div>